@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.musicPlayer {
    position: fixed;
    width: 300px;
    background-color: rgba(170, 170, 170, 0.25);
    color: black;
    border-radius: 16px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    overflow: hidden;
    align-items: center;
    padding: 10px;
    cursor: grab;
    transition: background-color 0.5s ease;
    z-index: 10;
}

.musicPlayer:active {
    cursor: grabbing;
    user-select: none;
}

.musicPlayer.hovered {
    background-color: rgba(255, 255, 255, 1);
}

.musicPlayer:hover .artistName {
    color: gray;
}

.musicPlayer:hover .playButton, .musicPlayer:hover .shuffleButton {
    border: 1px solid white;
}

.details {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.albumArt {
    width: 50px;
    height: 50px;
    border-radius: 60px;
    object-fit: cover;
    transition: transform 0.3s linear;
    animation: rotate 10s linear infinite;
    animation-play-state: paused;
}

.albumArt.playing {
    animation-play-state: running;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.trackTitleContainer {
    overflow: hidden;
    width: 120px;
    white-space: nowrap;
    position: relative;
}

.trackTitle {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    transition: color 0.3s;
    animation-play-state: paused;
    transform: translateX(0);
}

.trackTitle.playing {
    animation: marquee 8s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-170%);
    }
    50.001% {
        transform: translateX(170%);
    }
    100% {
        transform: translateX(0%);
    }
}

.artistName {
    margin: 0;
    font-size: 12px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s ease;

}

.controls {
    display: flex;
    gap: 10px;
}

.playButton, .shuffleButton {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: 0 solid black;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: border-width 0.2s, border-color 0.2s, transform 0.2s;
    mix-blend-mode: difference;
}

.playButton:hover, .shuffleButton:hover {
    transform: scale(1.1);
}

.activeShuffle {
}
