/* components/NavBar.module.css */


.navbar {
    position: fixed;
    top: 0;
    left: 50%; /* Center the navbar horizontally */
    transform: translateX(-50%); /* Offset by half of the navbar's width to center it */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem; /* Auto margin for automatic horizontal centering */
    padding: 0.8rem 2rem;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    width: calc(100% - 2rem); /* Adjust width to account for margin */
}



.links, .icons {
    display: flex;
}

.link {
    margin-right: 30px;
    color: rgb(90, 117, 174); /* Ensure text is black */
    text-decoration: none;
    padding: 0.5rem;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    border: 1px solid transparent; /* Transparent border to maintain layout consistency */
    border-radius: 10px; /* Rounded corners */
}
.link:hover {
    color: rgb(30, 57, 114); /* Ensure text is black */
    border: 1px solid rgb(30, 57, 114); /* Solid border on hover, change the color as needed */
    border-radius: 20px; /* Rounded corners */
}

.icons a {
    margin-left: 30px;
    display: flex;
    align-items: center; /* Ensures vertical centering */
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow effect */

}

.icons a:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}