/* homepage.module.css */

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensure particles do not block interactions */
}

.background {
    position: absolute;
    right: -7vw;
    width: auto;
    height: 100%;
    z-index: 1;
    max-width: 100vw;
    object-fit: cover;
    user-select: none;
}

.foreground {
    position: absolute;
    right: -7vw;
    width: auto;
    height: 100%;
    z-index: 3;
    max-width: 100vw;
    object-fit: cover;
    user-select: none;
}

.background::after, .foreground::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    /* Use the var() function here to reference the custom property */
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) calc(var(--fade-start)),
            rgba(255, 255, 255, 0.15) calc(var(--fade-start) + 10%),
            rgba(255, 255, 255, 0.3) calc(var(--fade-start) + 15%),
            rgba(255, 255, 255, 1) 100%
    );
}